@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 20px 60px;
}

header, footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dark-mode {
    background-color: black;
    color: black;
  } 
 
  .btn-dark {
    width: 70px;
    height: 30px;
    border-radius: 20px;
  }
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: gray;
    font-size: 24px;
    padding: 10px;
    margin-left: 40px;
}

header a:hover {
    color: #2196f3;
}

.start {
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
}

.start:hover {
    border: 1px solid #2196f3 ;
}

/* .browse {
    color: black;
    font-weight: bold;
} */

.main-title {
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 30px;
}
.browse {
    color: #212529;
    font-weight: 500;
    padding-top: 30px;
    font-size: 36px;
}

.sub-browse {
    color: #6C757D;
    font-family: 'Volkhov', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}


/* main {
    width: 100%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

.one, .two, .three {
    width: 100%;
}

.one img, .two img, .three img {
    width: 47%;
}

/* .mini {
    margin-right: 30px;
}

.minim {
    margin-right: 40px;
} */

.one {
    margin-top: 30px;
    margin-bottom: 40px;
}

.two {
    margin-bottom: 40px;
}

.card:hover {
    border-radius: 25px;
    transform: scale(1.01);
    transition: ease-in-out 160ms;
}

.title-txt {
    margin-left: 35px;
    font-size: 24px;
    margin-bottom: 10px;
}

.see-more {
    color: #1976d2;
    background: transparent;
    padding: 16px 28px;
    border: 1px solid #1976d2;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.see-more:hover {
    color: #fff;
    background: #1976d2;
}

.see {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1565c0;
  height: 240px;
}

#bottom-logo-container {
  width: 25%;
  /* margin-top: 40px; */
  /* margin-bottom: 60px; */
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  /* margin-top: 60px; */
}

footer .bottom-menu-item a {
  font-family: 'Volkhov', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  margin-right: 20px;
  color: #e3f2fd;
  text-decoration: none;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/* SCREEN 425PX */
@media screen and (max-width: 426px) {
    
    header {
        /* width: 50%; */
        /* margin-right: 150px; */
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: self-start;
    }

    nav {
        font-size: 2.4em;
        width: 100%;
    }

    header a {
    text-decoration: none;
    color: gray;
    font-size: 0.6rem;
    padding: 10px;
    margin-left: 0;
    }

    header img {
        margin: 20px 0;
    }

    .browse {
        width: 100%;
        font-size: 1.5em;
    }

    .sub-browse {
        font-size: 0.8em !important;
        line-height: 18px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .one, .two, .three {
        width: 100%;
        /* margin-right: 500px; */
    }

    .one img, .two img, .three img {
    width: 100%;
    }

    .title-txt {
    margin-left: 20px;
    font-size: 1em;
    margin-bottom: 10px;
    }

    .see-more {
    color: #1976d2;
    background: transparent;
    padding: 10px 24px;
    border: 1px solid #1976d2;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    }
    
    footer {
    display: block;
    background-color: #1565c0;
    height: auto;
    text-align: center;
    padding-top: 20px;
    }

    footer img {
        width: 40%;
    }
    #bottom-logo-container {
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    }

    #bottom-menu-container {
    width: 100%;
    display: block;
    justify-content: center;
    /* margin-top: 60px; */
    }

    footer .bottom-menu-item a {
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    margin: 20px;
    color: #e3f2fd;
    text-decoration: none;
    }

    footer .bottom-menu-item a:hover {
    color: #e1b713;
    }

    footer .bottom-menu {
    display: block;
    }
}


/* SCREEN 960PX */
@media screen and (width: 961px) {

     header {
        /* width: 50%; */
        /* margin-right: 150px; */
        display: flex;
        flex-direction: column;
        height: 0;
        align-items: self-start;
    }

    header a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    /* padding: 10px; */
    /* margin-left: 5px; */
}

    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .one, .two, .three {
        width: 50%;
    }

    .container {
    margin: 8px 20px;
    }
}
