<header>
  <div id="top-logo-container">
    <a href="index"><img src="images/logo_top.svg" alt="Logo" height="80px" width="187px" /></a>
  </div>
  <!--Insert links for menu items below-->
  <nav id="top-menu-container">
    <% if (user) { %>
    <div class="top-menu-home"><a>welcome <%= user.firstName %> </a></div>
    <div class="top-menu-home"><a href="index">Home </a></div>
    <div class="top-menu-about-us"><a href="about">About Us</a></div>
    <div class="top-menu-item"><a href="library">Library</a></div>
    <div class="top-menu-get-started"><a href="logout">Logout</a></div>
    <%} else { %>
    <div class="top-menu-item"><a href="library">Library</a></div>
    <div class="top-menu-get-started"><a href="signup">Get Started</a></div>
    <div class="top-menu-sign-in"><a href="signin">Sign In</a></div>
    <% } %>
  </nav>
</header>
