<header>
  <div id="top-logo-container">
    <a href="index"><img src="images/logo_bottom.png" alt="Logo" height="80px" width="187px" /></a>
  </div>
  <!--Insert links for menu items below-->
  <nav id="top-menu-container">
    <% if (user) { %>
    <div class="top-menu-home"><a href="index">Home </a></div>
    <div class="top-menu-about-us"><a href="about">About Us</a></div>
    <div class="top-menu-item"><a href="library">Library</a></div>
    <div class="top-menu-get"><a href="logout">Logout</a></div>
    <button id="dark-mode-toggle" class="dark-mode-toggle">
      <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
        <path
          fill="currentColor"
          d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
          transform="translate(-8 -8)"
        />
      </svg>
    </button>
    <!-- <div class="top-menu-get"><a href="logout">Logout</a></div> -->
    <%} else { %>
    <div class="top-menu-about-us"><a href="about">About Us</a></div>
    <div class="top-menu-item"><a href="library">Library</a></div>
    <div class="top-menu-get-started"><a href="signup">Get Started</a></div>
    <div class="top-menu-sign-in"><a href="signin">Sign In</a></div>
    <button id="dark-mode-toggle" class="dark-mode-toggle">
      <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
        <path
          fill="currentColor"
          d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
          transform="translate(-8 -8)"
        />
      </svg>
    </button>
    <% } %>
  </nav>
</header>
