/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top-logo-container {
  width: 25%;
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

header img {
  height: 80px;
  width: 187px;
}

#top-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

header .top-menu {
  display: flex;
  position: relative;
}

header .top-menu-item {
  padding-left: 40px;
}

header .top-menu-item a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header .top-menu-item a:hover {
  color: #0d47a1;
}

header .top-menu-item-about a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
  padding-left: 40px;
}

header .top-menu-item-about a:hover {
  color: #0d47a1;
}

header .top-menu-item-get-started a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  padding: 10px;
  margin-left: 40px;
}

header .top-menu-item-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #0d47a1;
  padding-top: 15px;
}

p {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #343a40;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
}

/*FIRST ROW*/

#row-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#row-one-left {
  width: 45%;
  display: flexbox;
  justify-content: left;
  margin-top: 50px;
}

#row-one-right {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

/*SECOND ROW*/

#row-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -10px;
}

#row-two-left {
  display: flexbox;
  justify-content: center;
  width: 45%;
}

#row-two-right {
  width: 45%;
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
  margin-top: 100px;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/*RESPONSIVE MODE*/

@media screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #top-logo-container {
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 20px;
  }

  header .top-menu-item {
    padding-left: 5px;
  }

  header .top-menu-item a {
    font-size: 10px;
  }

  header .top-menu-item-about a {
    font-size: 10px;
    padding-left: 5px;
  }

  header .top-menu-item-get-started a {
    font-size: 10px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
  }

  /*FIRST ROW*/

  #row-one-right img[src="images/laptop_user.svg"] {
    width: 259px;
    height: 310px;
  }

  #row-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #row-one-left {
    width: 70%;
    display: flexbox;
    justify-content: left;
    margin-top: 10px;
    margin-left: 20px;
  }

  #row-one-right {
    width: auto;
    display: flex;
    margin-top: 5px;
    margin-right: auto;
    padding-left: 5px;
  }

  h2 {
    font-size: 22px;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  p {
    font-size: 12px;
    padding: 0;
    padding-bottom: 10px;
    line-height: 16px;
  }

  /*SECOND ROW*/

  #row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
  }

  #row-two-left {
    display: flexbox;
    width: 70%;
    justify-content: left;
    margin-top: 0px;
    margin-left: 20px;
  }

  #row-two-right {
    width: auto;
  }

  /*FOOTER*/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  footer img {
    height: 40px;
    width: 93.5px;
  }

  #bottom-logo-container {
    width: auto;
    margin: 20px;
  }

  #bottom-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    margin: 20px;
  }

  footer .bottom-menu-item a {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
    padding-left: 0;
  }
}
