* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}

header, footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}

a {
    text-decoration: none;
    color: gray;
}

.start {
    border: 1px solid gray;
    padding: 3px 5px;
}

.browse {
    color: black;
    font-weight: bold;
}

.browse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.one, .two {
    width: 50%;
}

.mini {
    margin-right: 30px;
}

.minim {
    margin-right: 40px;
}

.one {
    margin-top: 30px;
    margin-bottom: 40px;
}

.two {
    margin-bottom: 40px;
}

.five:hover, .rad:hover, .six:hover, .seven:hover, .metric:hover, .meric:hover, .meri:hover, .sept:hover, .mini:hover, .minim:hover {
    border-radius: 25px;
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    
    header img {
        width: 50px;
    }

    header {
        width: 50%;
        margin-right: 150px;
        display: flex;
        flex-direction: column;
    }

    nav {
        font-size: xx-small;
        width: 100%;
    }

    nav a {
        margin: 7px;
        width: 200px;
    }

    .browse {
        width: 70%;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .one, .two, .three {
        width: 50%;
        margin-right: 500px;
    }

    .five, .rad, .seven, .six, .metric, .meric, .meri, .sept, .mini, .minim {
        height: 150px;
    }
}

@media screen and (width: 960px) {

    nav {
        margin-right: 150px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .one, .two, .three {
        width: 50%;
    }
}
