@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
body {
  overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #top-logo-container {
    width: 25%;
    display: flex;
    justify-content: left;
    padding-top: 20px;
  }
  
  #top-menu-container {
    width: 65%;
    display: flex;
    justify-content: right;
    padding-top: 20px;
  }
  
  header .top-menu {
    display: flex;
    position: relative;
  }
  
  header .top-menu-item {
    padding-left: 40px;
  }
  
  header .top-menu-item a {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #2196f3;
  }
  #row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #row-one-left {
    padding: 10px;
    height: 470px;
    width: 40%;
    justify-content: left;
    margin-top: 40px;
    background: white;
    box-shadow: 0 0 20px rgba(162,187,202,0.75);
  }
  #row-one-left > h1 {
    text-align: center;
  }
  #row-one-left > form {
    font-size: 1rem;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
 input {
height: 25px;
width: 250px;
  }
 #message {
  height: 100px;
}
#btn {
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e3f2fd;
  background-color: #1565c0;
  border-radius: 10px;
  padding: 10px 14px;
  width: 100px;
  cursor: pointer;
}
.row-one-left-two >img {
  height: 150px;
  width: 100%;
  margin-top: 10px;
}
  #row-one-right {
    width: 50%;
    display: flex;
    justify-content: right;
    margin-top: -50px;
  }

  iframe {
    padding: 20px;
    margin-top: 25px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1565c0;
  }
  
  #bottom-logo-container {
    width: 25%;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  #bottom-menu-container {
    width: 65%;
    display: flex;
    justify-content: right;
    margin-top: 60px;
  }
  
  footer .bottom-menu-item a {
    font-family: "Vollkorn", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    color: #e3f2fd;
  }
  
  footer .bottom-menu-item a:hover {
    color: #e1b713;
  }
  
  
