/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*for the dark mode*/
:root {
  --clr-light: #f9f9f7;
  --clr-dark: #00332a;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #eeeeea;
  --clr-dark: #080808;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  background: var(--clr-dark);
}
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

body {
  /*background: var(--background);*/
  background: url('images/4880206.jpg');

  color: var(--foreground);
  overflow-x: hidden;
}

/*HEADER*/

header {
  display: flex;
  justify-content: flex-end;
}

#top-logo-container {
  margin-right: auto;
  margin-left: 60px;
  margin-top: 20px;
}

#top-menu-container {
  display: flex;
  margin-right: 60px;
  margin-top: 20px;
}

header nav a {
  padding: 0 15px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header nav a:hover {
  color: #0d47a1;
}

header nav .top-menu-home a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header nav .top-menu-home a:hover {
  color: #0d47a1;
}

header nav .top-menu-get-started a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

header nav .top-menu-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}

/*FIRST ROW*/

h1 {
  color: #212529;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  margin-top: 48px;
  margin-bottom: 20px;
  text-align: center;
}

#row-one {
  display: flex;
  flex-direction: column;

justify-content: center;
 width: 30%;
 margin-left: auto;
 margin-right: auto;
 
}

main form label {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #212529;
}

main form input {
  padding: 10px;
  border: 1px solid #1565c0;
  width: 100%;

  background: #f1f1f1;
  margin: 10px 0;
}

#button-container {

text-align: right;
}

#change-password-button {
  padding: 10px;
  background: #1565c0;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 100px;
}

#change-password-button:hover {
  background: #022347;
}


/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/*RESPONSIVE MODE*/

@media screen and (max-width: 720px) {
 
  /*HEADER*/
  
  header {
    display: flex;
    justify-content: flex-end;
  }

  #top-logo-container {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
  }

  header nav a {
    font-size: 10px;
    padding: 3px;
  }

  header nav .top-menu-home a {
    font-size: 10px;
  }

  header nav .top-menu-get-started a {
    font-size: 10px;
    border: none;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
  }

  /*FOOTER*/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer img {
    height: 40px;
    width: 93.5px;
  }

  #bottom-logo-container {
    width: auto;
    margin: 10px 20px;
  }

  #bottom-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    margin: 10px 20px;
  }

  footer .bottom-menu-item a {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
    padding-left: 0;
  }

  footer .bottom-menu {
    display: flex;
  }
}
