/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

header {
  display: flex;
  justify-content: flex-end;
}

#top-logo-container {
  margin-right: auto;
  margin-left: 60px;
  margin-top: 20px;
}

#top-menu-container {
  display: flex;
  margin-right: 60px;
  margin-top: 20px;
}

header nav a {
  padding: 0 15px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header nav a:hover {
  color: #0d47a1;
}

header nav .top-menu-sign-in a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
}

header nav .top-menu-about-us a:hover {
  color: #0d47a1;
}

header nav .top-menu-get-started a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

header nav .top-menu-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}

/*GENERAL*/

h1 {
    color: #212529;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    }


/*FIRST ROW*/

#row-one {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#row-one-left {
    width: 45%;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

#sign-in-form {
    margin-left: 40px;
    margin-right: 40px;

}

main label {
    color: #212529;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
}

main input {
    width: 100%;
    padding: 12px 0;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

main form p {
    text-align: right;
    margin-top: -5px;
    color: #1565C0;
    font-family: 'Vollkorn';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}

#login-button {
    width: 100%;
    height: 48px;
    background: #1565C0;
    border: none;
border-radius: 4px;
margin: 50px 0;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
}

.row-one-left-par {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #212529;
text-align: center;
margin-bottom: 219px;
}


#row-one-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #1565C0;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 0px 16px 16px 0px;
}


/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
  margin-top: 100px;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: "Vollkorn", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/*RESPONSIVE MODE*/

@media screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #top-logo-container {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
  }

  header nav a {
    font-size: 10px;
    padding: 3px;
  }

  header nav .top-menu-about-us a {
    font-size: 10px;
  }

  header nav .top-menu-get-started a {
    font-size: 10px;
    border: none;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
  }

  /*FIRST ROW*/

  #row-one-right img[src="images/laptop_user.svg"] {
    width: 259px;
    height: 310px;
  }

  #row-one {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #row-one-left {
    width: 70%;
    display: flexbox;
    justify-content: left;
    margin-top: 10px;
    margin-left: 20px;
  }

  #row-one-right {
    width: auto;
    display: flex;
    margin-top: 5px;
    margin-right: auto;
    padding-left: 5px;
  }

  h2 {
    font-size: 22px;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  p {
    font-size: 12px;
    padding: 0;
    padding-bottom: 10px;
    line-height: 16px;
  }

  /*SECOND ROW*/

  #row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
  }

  #row-two-left {
    display: flexbox;
    width: 70%;
    justify-content: left;
    margin-top: 10px;
    margin-left: 20px;
  }

  #row-two-right {
    width: auto;
  }

  /*FOOTER*/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  footer img {
    height: 40px;
    width: 93.5px;
  }

  #bottom-logo-container {
    width: auto;
    margin: 10px 20px;
  }

  #bottom-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    margin: 10px 20px;
  }

  footer .bottom-menu-item a {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
    padding-left: 0;
  }
}
