<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>How to use</title>
  </head>
  <body>
    <header>
      <div id="top-logo-container">
        <a href="index.html"><img src="logocardify.png" alt="Logo" height="80px" width="187px" /></a>
      </div>
      <!--Insert links for menu items below-->
      <div id="top-menu-container">
        <button class="btn-dark" onclick="myFunction()">Dark mode</button>
        <nav class="top-menu">
          <div class="top-menu-item-home"><a href="index.html">Home</a></div>
          <div class="top-menu-item"><a href="cards.html">How to</a></div>
          <div class="top-menu-item"><a href="about.html">About Us</a></div>
        </nav>
      </div>
    </header>
    <section class="section-class">
      <h2 class="theme">Develop  <br/> 
        with the right tools</h2>
  <p>Explore your online habits <br>
All powered by Cardify.  </p>
     
    <section class="align">
      <div class="grid-2 center">
        <div class="extra color">
          <h3 class="theme">APIs</h3>
        <p>The power of the Cardify Network. <br>
        Delivered as APIs.</p>

  <p><a href="/library">Explore</a>  your online habits <br/>
      all powered by cardify</p>

        </div>
        <div class="extra color">
          <h3 class="theme">Use cases</h3>
          <p>Check out various use cases and examples to see how our APIs can solve your needs</p>
          <button class="button-seeker">Browse use cases</button>
        </div>
      </div>
    </section>
    <section class="middle">
      <div class="extra">
        <h2 class="theme">partnership showcase</h2>
        <p>Discover the many ways our partners leverage our platform  to create innovative experiences.</p>
       <a href="/library"><button class="button-seeker but">Explore now</button></a>  
      </div>
    </section>
      <section class="padding">
        <h2 class="theme">About cardify development center</h2>
        <p>Design. Build. Deliver. Open up a new world of possibilities for your
brand with direct access to Cardify’s designs,  tools and expertise
        <div class="flex">
            <button class="button-learn">Learn more</button>
            <button class="button-getstarted">Get started</button>
        </div> 
      </section>
    </section>

     <footer>
      <div id="bottom-logo-container">
        <a href="/index"
          ><img
          
            src="logocardify.png"
            alt="Logo"
            height="80px"
            width="187"
        /></a>
      </div>
      <!--Insert links for menu items below-->
      <div id="bottom-menu-container">
        <nav class="bottom-menu">
          <div class="bottom-menu-item"><a href="">Documentation</a></div>
          <div class="bottom-menu-item"><a href="">Support</a></div>
          <div class="bottom-menu-item"><a href="/contact">Contact Us</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
  <!-- src="images/logo_bottom.png" -->
