<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CARDIFY</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="cards.css" />
    <!-- FAVICON Link -->
    <link rel="shortcut icon" href="./IMG_20220807_153228_390.jpg" type="image/x-icon" />
    <!-- FONT-FAMILY Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="container">
      <%- include('./partials/header')%>

      <div class="main-title">
        <p class="browse">
          Browse through our collection for card designs. <br />
          <span class="sub-browse"> Carefully designed for you!</span>
        </p>
      </div>
      <main class="cards-collection">
        <!-- GRADIENT Designs -->
        <div class="one">
          <p class="title-txt">GRADIENT</p>
          <a href="/download1">
            <img src="images/Gradient 5.png" class="card" />
          </a>
          <a href="/download2">
            <img src="images/Gradient 8.png" class="card" />
          </a>
          <a href="/download3">
            <img src="images/Gradient 7.png" class="card" />
          </a>
          <a href="/download4">
            <img src="images/Gradient 6.png" class="card" />
          </a>
          <a href="signin" class="see"><button class="see-more">See more</button></a>
        </div>

        <!-- GEOMETRIC Designs -->
        <div class="two">
          <p class="title-txt">GIOMETRIC</p>
          <a href="/download5">
            <img src="images/Geometric 5.png" class="card" />
          </a>
          <a href="/download6">
            <img src="images/Geometric 8.png" class="card" />
          </a>
          <a href="/download7">
            <img src="images/Geometric 7.png" class="card" />
          </a>
          <a href="/download8">
            <img src="images/Geometric 6.png" class="card" />
          </a>
          <a href="signin" class="see"><button class="see-more">See more</button></a>
        </div>

        <!-- MINIMAL Designs -->
        <div class="three">
          <p class="title-txt">MINIMAL</p>
          <a href="https://www.mini3.com">
            <img src="images/Minimal 3.png" class="card" />
          </a>
          <a href="https://www.mini4.com">
            <img src="images/Minimal 4.png" class="card" />
          </a>
        </div>
      </main>
    </div>
    <footer>
      <div id="bottom-logo-container">
        <a href="index"><img src="./images/logo_bottom2.png" alt="cardify_logo" /></a>
      </div>
      <!--Insert links for menu items below-->
      <div id="bottom-menu-container">
        <nav class="bottom-menu">
          <div class="bottom-menu-item"><a href="developer">Documentation</a></div>
          <div class="bottom-menu-item"><a href="contact">Support</a></div>
          <div class="bottom-menu-item"><a href="contact">Contact Us</a></div>
        </nav>
      </div>
    </footer>
  </body>
</html>
