<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in Page</title>
    <link rel="stylesheet" type="text/css" href="signin.css" />
  </head>
  <body>
    <div class="topnav">
      <img src="./images/cardify.png" width="146" />

      <a href="index">Home</a>
      <a href="about">About us</a>
      <a href="signup">Get started</a>
      <a href="signin">Sign In</a>
    </div>
    <div class="container">
      <form>
        <p class="weight">Hey there, welcome back!</p>
        <label>Email <input type="email" class="box" required placeholder="Enter your email address" /></label>
        <label>Password <input type="password" class="box" placeholder="Enter your password" /></label>
        <p class="pass"><a href="#forgot">Forgot Password?</a></p>
        <input type="submit" value="Login" id="submit" />
        <p class="class">Don't Have an account yet? <a href="signup">Get started</a></p>
      </form>
      <div class="side">
        <img src="./images/Frame 46@2x.png" alt="" />
      </div>
    </div>
  </body>
</html>
