@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: ubuntu;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top-logo-container {
  width: 25%;
  display: flex;
  justify-content: left;
  padding-top: 20px;
}
:root {
  --clr-light: #f9f9f7;
  --clr-dark: #00332a;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #eeeeea;
  --clr-dark: #080808;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  background: var(--clr-dark);
}
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

body {
  background: var(--background);
  color: var(--background);
  overflow-x: hidden;
}
#top-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

header .top-menu {
  display: flex;
  position: relative;
}

header .top-menu-item {
  padding-left: 40px;
}

header .top-menu-item a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #6c757d;
}
header .top-menu-item a:hover {
  color: #0d47a1;
}
header .top-menu-item-home a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
}

header .top-menu-item-home a:hover {
  color: #0d47a1;
}
header .top-menu-item-get-started a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #6c757d;
  border: 2px solid #6c757d;
  padding: 10px;
  margin-left: 40px;
}

header .top-menu-item-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}
#row-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#row-one-left {
  height: 500px;
  width: 40%;
  justify-content: left;
  margin-top: 40px;
  background: white;
  color: black;
  box-shadow: 0 0 20px rgba(162, 187, 202, 0.75);
}
#row-one-left > h1 {
  text-align: center;
  font-family: Ubuntu;
  color: #1976d2;
  font-size: 32px;
}
#row-one-left > form {
  font-size: 1rem;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
input {
  height: 25px;
  width: 245px;
}
input::placeholder {
  font-style: italic;
  opacity: 0.5;
}
textarea {
  resize: none;
}
#message {
  height: 100px;
}
#btn {
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #e3f2fd;
  background-color: #1565c0;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  width: 172px;
  height: 48px;
  cursor: pointer;
}
.row-one-left-two > img {
  height: 150px;
  width: 100%;
  margin-top: 10px;
}
#row-one-right {
  width: 50%;
  display: flex;
  justify-content: right;
  margin-top: -50px;
}
#row-one-right > img {
  position: absolute;
  right: 12.13%;
  top: 19.04%;
  bottom: 63.41%;
}
iframe {
  padding: 20px;
  margin-top: 25px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}
footer .bottom-menu {
  display: flex;
}

/*media queries for small screens*/
@media screen and (max-width: 750px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #top-logo-container {
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 20px;
  }

  header .top-menu-item {
    padding-left: 5px;
  }

  header .top-menu-item a {
    font-size: 13px;
  }

  header .top-menu-item-home a {
    font-size: 10px;
  }

  header .top-menu-item-get-started a {
    font-size: 10px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
  }
  #row-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  #row-one-left {
    justify-content: center;
    width: 100%;
    height: 650px;
  }
  #row-one-left > h1 {
    margin-right: 5%;
    padding: 10px;
  }
  #row-one-left > form {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  #row-one-right {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 100px;
  }
  #row-one-right img {
    margin-top: 42rem;
    max-width: 100%;
    height: auto;
  }
  #btn {
    margin-left: 20%;
  }
  iframe {
    padding: 7px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer img {
    height: 40px;
    width: 93.5px;
  }

  #bottom-logo-container {
    width: auto;
    margin: 20px;
  }
  #bottom-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    margin: 20px;
  }
  footer .bottom-menu-item a {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
    padding-left: 0;
  }

  footer .bottom-menu {
    display: flex;
  }
}
