/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

header {
  display: flex;
  justify-content: flex-end;
}

#top-logo-container {
  margin-right: auto;
  margin-left: 60px;
  margin-top: 20px;
}

#top-menu-container {
  display: flex;
  margin-right: 60px;
  margin-top: 20px;
}

header nav a {
  padding: 0 15px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header nav a:hover {
  color: #0d47a1;
}

header nav .top-menu-get-started a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
  text-decoration: underline;
}

header nav .top-menu-get-started a:hover {
  color: #0d47a1;
}

/*GENERAL*/

h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #1976d2;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

/*FIRST ROW*/
#row-one {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#row-one-left {
  width: 45%;
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
  display: flex;
  flex-direction: column;
}

#row-one-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: #1565c0;
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
  border-radius: 0px 16px 16px 0px;
}

#sign-up-form {
  margin-left: 40px;
  margin-right: 40px;
}

main label {
  color: #212529;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

main input {
  padding: 8px 0;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.column-one {
  margin-right: auto;
}

.column-one input {
  display: block;
  width: 220px;
}

.column-two input {
  width: 220px;
}

.column-two input,
label {
  display: block;
}

.top-form {
  display: flex;
  justify-content: flex-end;
}

.remember-container {
  display: flex;
}

.remember-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #212529;
  padding-left: 5px;
  padding-top: 1px;
}

.agree-container {
  display: flex;
}

.agree-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #212529;
  padding-left: 5px;
  padding-top: 1px;
}

.terms-link,
.privacy-link {
  color: #1976d2;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-button {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 30px;
  width: 300px;
}

.already-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: 212529;
  margin-top: 15px;
  margin-bottom: 80px;
}

.sign-in-link {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1565c0;
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
  margin-top: 100px;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/*RESPONSIVE MODE*/

@media screen and (max-width: 720px) {
  /*HEADER*/

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #top-logo-container {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
  }

  header nav a {
    font-size: 10px;
    padding: 3px;
  }

  header nav .top-menu-about-us a {
    font-size: 10px;
  }

  header nav .top-menu-get-started a {
    font-size: 10px;
    border: none;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
  }

  /*GENERAL*/

  h1 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  /*FIRST ROW*/

  #row-one-right img[src='images/image_sign_in_page.PNG'] {
    width: 256px;
    height: 216px;
    padding: 20px 0;
  }

  #row-one {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 20px;
  }

  #row-one-left {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #row-one-right {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px 16px 0px 0px;
  }

  #sign-up-form {
    margin-left: 20px;
    margin-right: 20px;
  }

  main label {
    font-size: 14px;
  }

  main input {
    padding: 6px 0;
    margin-bottom: 15px;
  }

  .column-one input {
    display: block;
    width: 100px;
  }

  .column-two input {
    width: 100px;
  }

  .remember-text {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
  }

  .agree-text {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
  }

  .create-account-button {
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 20px;
    width: 250px;
  }

  .already-text {
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 60px;
  }

  /*FOOTER*/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  footer img {
    height: 40px;
    width: 93.5px;
  }

  #bottom-logo-container {
    width: auto;
    margin: 10px 20px;
  }

  #bottom-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    margin: 10px 20px;
  }

  footer .bottom-menu-item a {
    font-size: 10px;
    line-height: 22px;
    padding: 10px;
    padding-left: 0;
  }
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
