@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fontawesome.com/');

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*For the dark mode*/
:root {
  --clr-light: #f9f9f7;
  --clr-dark: #00332a;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #eeeeea;
  --clr-dark: #080808;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  background: var(--clr-dark);
}
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

body {
  /*background: var(--background);*/
  background: url('images/4880206.jpg');

  color: var(--foreground);
  overflow-x: hidden;
}

/*header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top-logo-container {
  width: 25%;
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

#top-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

header .top-menu {
  display: flex;
  position: relative;
}

header .top-menu-item {
  padding-left: 40px;
}

header .top-menu-item a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #6c757d;
}

header .top-menu-item a:hover {
  color: #0d47a1;
}

header .top-menu-item-home a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
}

header .top-menu-item-home a:hover {
  color: #0d47a1;
}

header .top-menu-item-get-started a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #6c757d;
  border: 2px solid #6c757d;
  padding: 10px;
  margin-left: 40px;
}

header .top-menu-item-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}

.card img {
  width: auto;
  height: 400px;
}
.card {
  display: inline-block;
  width: auto;
  height: 30px;
  border-radius: 15px;
  padding: 1rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  top: 50px;
  left: 23%;
}

.card:hover {
  cursor: pointer;
}

.front,
.back {
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.back {
  position: relative;
  bottom: 415px;
  padding: 19px 0;
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: none;
  background: #1565c0;
  position: relative;
  bottom: 29rem;
  left: 70%;
}
select {
  background: #1565c0;
  border: none;
  color: white;
}

:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --black: #000;
}
.container {
  width: 400px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 24rem;
  left: 30%;
  margin: 10px;
}
.container > button {
  margin: 5px;
}

/*like-button*/
span > img {
  width: auto;
  height: 48px;
}
.btn {
  height: 50px;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
  transition: 1.5s cubic-bezier(0.21, 0.04, 0.26, 0.99);
}
.btn:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  border-color: var(--red);
}
.btn-like {
  border-radius: 10px;
  transition: 1.5s cubic-bezier(0.21, 0.04, 0.26, 0.99);
  position: relative;
  top: 25px;
  right: 5px;
  width: 100px;
  border-radius: 5px;
}
.btn-like.liked {
  background: var(--red);
  border-color: var(--red);
} /*-- Button Icon for like icon -- */
.btn-icon {
  display: flex;
  justify-content: center;
  width: auto;
  height: 38px;
  position: absolute;
  transition: 1s cubic-bezier(0.21, 0.04, 0.26, 0.99);
  transform: rotate(0deg);
}
.btn:hover .btn-icon {
  color: var(--red);
}
.btn.liked:hover .btn-icon {
  color: var(--black);
}
.liked .btn--icon-default {
  transform: rotate(-90deg);
}
.btn:not(.liked).btn--icon-liked {
  transform: rotate(-90deg);
}
.liked .btn--icon-default,
.btn--icon-liked {
  opacity: 0;
  color: #fff;
  position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
  opacity: 1;
  left: 0.5rem;
} /*-- Button Content -- */
.btn-content {
  transition: transform 0.1s ease;
  display: inline-block;
  /* position: absolute;
    right: 0; */
}
.liked .btn-content {
  color: var(--white);
}
.btn:hover.liked .btn-content {
  color: var(--black);
}
.btn:not(.liked) .btn-content--liked {
  transform: translate(110px);
}
.btn:not(.liked) .btn-content--default {
  transform: translate(-56px);
}
.liked .btn-content--default {
  transform: translate(24px);
}

/*comment-option*/
.comment > img {
  height: 50px;
  width: auto;
}
.comment {
  margin-top: 46%;
  height: 50px;
}

.button-comment {
  display: none;
}

textarea {
  resize: none;
}
/*.submit > button {
margin-top: 10px;
background-color: #0A66C2;
width: 100px;
height: 30px;
border: none;
}*/

/*share-button*/
.share-btn > img {
  width: auto;
  height: 50px;
}
.share-btn {
  position: relative;
  top: 25px;
  height: 50px;

  /*
    height: 57px;
    padding-top: 2.5px;
    padding-right: 3px;
    border: none;
    background: #fff;
    color: #ff7d7d;
    border-radius: 50%;
    z-index: 2;
    font-size: 20px;
    padding-top: 2.5px;
    padding-right: 3px;
    cursor: pointer;*/
}

.share-options {
  position: absolute;
  top: 50%;
  left: 100%;
  width: auto;
  height: auto;
  transform-origin: bottom left;
  transform: scale(0);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(15, 15, 15, 0.5);
  color: #fff;
  padding: 20px;
  font-family: 'roboto';
  transition: 0.5s;
  transition-delay: 0.5s;
}

.share-options.active {
  transform: scale(1);
  transition-delay: 0s;
}

.title {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  font-size: 20px;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding: 0 20px 3px 0;
}

.social-media {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.social-media-btn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
}

.social-media-btn:nth-child(1) {
  background: #25d366;
}

.social-media-btn:nth-child(2) {
  background: #0088cc;
}

.social-media-btn:nth-child(3) {
  background: #e4405f;
}

.social-media-btn:nth-child(4) {
  background: #1da1f2;
}

.social-media-btn:nth-child(5) {
  background: #1877f2;
}

.social-media-btn:nth-child(6) {
  background: #0a66c2;
}

.link-container {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
}

.link {
  width: 80%;
  height: 100%;
  line-height: 40px;
  color: #000;
}

.copy-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  height: 100%;
  width: 30%;
  text-transform: capitalize;
  font-size: 16px;
}

.share-options.active .title,
.share-options.active .social-media,
.share-options.active .link-container {
  opacity: 1;
  transition: 0.5s;
}
#save > img {
  height: 45px;
  width: auto;
  position: relative;
  top: 5px;
}
#save {
  width: auto;
  position: relative;
  top: 25px;
  right: 5px;
}

.download a {
  color: white;
  text-decoration: none;
}
/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}

/*media queries for small screens*/
@media screen and (max-width: 450px) {
  body {
      overflow-x: hidden;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #top-logo-container {
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    width: auto;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 20px;
  }

  header .top-menu-item {
    padding-left: 5px;
  }

  header .top-menu-item a {
    font-size: 13px;
  }

  header .top-menu-item-home a {
    font-size: 10px;
  }

  header .top-menu-item-get-started a {
    font-size: 10px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
  }

    .card img 
    {
  height: 230px;
        width: auto;
  }
 
 .cards {
 position: relative;
 top: 50px;
}
.front {
  position: relative;
  right: 100px;
}
.back {
  position: relative;
  bottom: 255px;
  left: 100px;
}
  .download {
      position: absolute;
      left: 2%;
      bottom: 49%;
      
  } 
 .container {
 max-width: 50%;
  position: relative;
bottom: 15rem;
     left: 29%
 }
.share-options{
  position: absolute;
  margin-top: 50px;
left: 3%;
}
}

@media (max-width: 750px) and (min-width: 450px) {
  body {
      overflow-x: hidden;  
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #top-logo-container {
    width: 25%;
      display: flex;
      justify-content: left;
    padding-top: 20px;
  }

  header img {
    height: 40px;
    width: 93.5px;
  }

  #top-menu-container {
    width: 65%;
    display: flex;
    justify-content: left;
    padding-top: 15px;
  
  }

  header .top-menu-item {
    padding-left: 5px;
  }

  header .top-menu-item a {
    font-size: 13px;
  }

  header .top-menu-item-home a {
    font-size: 10px;
  }

  header .top-menu-item-get-started a {
    font-size: 10px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
  }

    .card img 
    {
  height: 230px;
        width: auto;
  }
 
 .cards {
 position: relative;
 top: 50px;
   
}
.front {
  position: relative;
  right: 120px;
}
.back {
  position: relative;
  bottom: 252px;
  left: 120px;
}
  .download {
        display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 30px;
border: none;
background: blue;
position: relative;
bottom: 17rem;
left: 72%;
      
  }
 .container {
 max-width: 50%;
  position: relative;
bottom: 15rem;
     left: 22%
 }
.share-options{
  position: absolute;
  margin-top: 50px;
left: 3%;
}
}

@media (max-width: 1200px) and (min-width: 751px) {
    
.front {
  position: relative;
  right: 120px;
}
.back {
  position: relative;
  bottom: 252px;
  left: 120px;
}
  .download {
position: relative;
bottom: 30rem;
left: 82%;
}
.share-options{
  position: absolute;
  margin-top: 50px;
left: 2%;
}
}
  
  
  
