@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

header {
  display: flex;
  justify-content: flex-end;
}

#top-logo-container {
  margin-right: auto;
  margin-left: 60px;
  margin-top: 20px;
}

#top-menu-container {
  display: flex;
  margin-right: 60px;
  margin-top: 20px;
}

header nav a {
  padding: 0 15px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
}

header nav a:hover {
  color: #0d47a1;
}

header nav .top-menu-home a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2196f3;
}

header nav .top-menu-home a:hover {
  color: #0d47a1;
}

header nav .top-menu-get-started a {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

header nav .top-menu-get-started a:hover {
  color: #0d47a1;
  background-color: #e9ecef;
}

.darkmode {
  --clr-light: #eeeeea;
  --clr-dark: #080808;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  background: var(--clr-dark);
}
.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
body {
  margin-right: 120px;
  width: 100%;
}
.home,
.dev {
  color: #6c757d;
}

.start {
  font-weight: 500;
  font-size: 64px;
  line-height: 74px;
  color: #1565c0;
  margin-left: 120px;
  margin-top: 102.52px;
}

.read {
  margin-top: 16px;
  margin-left: 120px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 32.2px;
  color: #495057;
}

.num {
  color: #adb5bd;
}

.launch,
.thru,
.choice,
.in,
.up,
.view,
.about,
.des {
  color: #1976d2;
}

.first {
  width: 786px;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 440px;
  margin-top: 80px;
  border-radius: 16px;
  box-shadow: 40px 40px 60px rgba(22, 25, 46, 0.25);
}

.fchild,
.schild,
.tchild {
  padding-top: 56px;
  padding-bottom: 55px;
}

.link,
.have,
.choose {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 1.5%;
  color: #495057;
}

.num,
.launch,
.thru,
.choice {
  font-weight: 500;
  font-size: 24px;
  line-height: 27.58px;
}

.second {
  width: 786px;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 60px;
  border-radius: 16px;
  box-shadow: 40px 40px 60px rgba(22, 25, 46, 0.25);
}

.third {
  width: 786px;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 440px;
  margin-top: 60px;
  border-radius: 16px;
  box-shadow: 40px 40px 60px rgba(22, 25, 46, 0.25);
}

.contact {
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 1.5%;
  padding-left: 120px;
  padding-top: 60px;
  padding-bottom: 141px;
}

.help {
  color: #343a40;
}

.reach {
  color: #1976d2;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1565c0;
}

#bottom-logo-container {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#bottom-menu-container {
  width: 65%;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

footer .bottom-menu-item a {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  color: #e3f2fd;
}

footer .bottom-menu-item a:hover {
  color: #e1b713;
}

footer .bottom-menu {
  display: flex;
}
.info {
  margin-right: 120px;
}

.info a {
  color: #e3f2fd;
  padding-top: 107px;
}

.how:visited {
  color: #1976d2;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 426px) {
  header {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 305px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }

  header img {
    height: 50px;
  }

  nav {
    width: 100%;
  }

  .simple {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 305px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }

  .start,
  .read {
    height: 250px;
    width: 100%;
    margin-right: 120px;
  }

  .three {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 305px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0;
    height: 400px;
  }

  .first img,
  .second img,
  .third img {
    height: 100px;
  }

  .contact {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 305px;
    margin-top: 0;
    margin-left: 0;
    height: 300px;
    font-size: 24px;
  }

  .help {
    width: 100%;
    margin-right: 120px;
  }

  .reach {
    width: 100%;
    margin-right: 60px;
  }

  footer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 305px;
    margin-top: 0;
    margin-left: 0;
    height: 200px;
  }

  footer img {
    width: 250px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 400px;
  }

  .info a {
    padding-bottom: 250px;
  }
}
